[Unit]
Description=TaflZero AI

[Service]
Type=simple
Restart=always
ExecStart=/usr/games/hnefatafl-org-taflzero --username ${USERNAME} --password ${PASSWORD} --role defender --systemd
EnvironmentFile=/etc/hnefatafl-org-taflzero-defender.conf

[Install]
WantedBy=multi-user.target
